{{- $page := .page }}
{{- $showhidden := .showhidden | default false }}
{{- if eq (printf "%T" $showhidden) "string" }}
  {{- $showhidden = (eq $showhidden "true") }}
{{- end }}
{{- $depth := .depth | default 1 }}
{{- $withDescription := .description | default false }}
{{- if eq (printf "%T" $withDescription) "string" }}
  {{- $withDescription = (eq $withDescription "true") }}
{{- end }}
{{- $sortTerm := .sort | lower }}

{{- with $page -}}
<div class="section-index">
  <hr class="panel-line my-6">
  {{- $pages := partial "_relearn/pages.gotmpl" (dict "page" . "by" $sortTerm) }}
  {{- range $pages }}
    {{- $hidden := and (or (.Params.hidden) (eq .Title "")) (not $showhidden) }}
    {{- if not $hidden }}
      <div class="entry pb-12">
        <h2 class="!my-0 !py-0">
          {{- if .RelPermalink }}
            <a class="font-bold text-primary-500" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          {{- else }}
            <span>{{ .LinkTitle }}</span>
          {{- end }}
        </h2>
        {{- if $withDescription }}
          {{- with or .Description .Summary }}
            <p class="!my-0 !py-0">{{ . }}</p>
          {{- end }}
        {{- end }}
      </div>
    {{- end }}
  {{- end }}
</div>
{{- end }}