{{ $ctx := . }}
{{ if isset . "context" }}
    {{ with .context }}
        {{ $ctx = . }}
    {{ end }}
{{ end }}

{{ $badgeSize := 5 }}
{{ if isset . "badgeSize" }}
    {{ $badgeSize = $.badgeSize }}
{{ end }}

{{ $format := "" }}
{{ if isset . "format" }}
    {{ $format = $.format }}
{{ end }}

{{ if $ctx.Site.Params.discord.enabled | default false }}
    {{ $riDiscordFill := resources.Get "img/ri/discord-fill.svg" }}
    {{ $discordInviteCode := $ctx.Site.Params.discord.inviteCode | default "" }}

    {{ if eq $format "star_light" }}
        <a class="discord-members flex space-x-2" href="https://discord.gg/{{ $discordInviteCode }}" target="_blank"
           aria-label="Visit us on Discord">
            <div class="flex items-center gap-1 px-2 pr-4 bg-[#F5F4FB] text-primary-500 rounded-lg">
                <span class="w-{{ $badgeSize }} h-{{ $badgeSize }}">{{ $riDiscordFill.Content | safeHTML }}</span>
            </div>
            <div class="flex items-center">
                <span id="discord-members-count" class="inline-block min-w-[4ch] text-right"></span>
            </div>
        </a>
    {{ else }}
        <a class="flex items-center space-x-2" href="https://discord.gg/{{ $discordInviteCode }}" target="_blank"
           aria-label="Visit us on Discord">
            <span class="w-{{ $badgeSize }} h-{{ $badgeSize }}">{{ $riDiscordFill.Content | safeHTML }}</span>
        </a>
    {{ end }}
{{ end }}